<%- include("/Users/mikes/cluckr/views/partials/header.ejs") %> 
    <div class="mb-3">
    <form action="submit_cluck" class="d-flex">
        <label class="form-label">Image Url</label>
        <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="https://www.garketch.com">
        <label class="form-label">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
    </div>
<%- include("/Users/mikes/cluckr/views/partials/footer.ejs") %> 
