<%- include("/Users/mikes/cluckr/views/partials/header.ejs") %> 
    <div class="mb-3">
        <label class="form-label">Image Url</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <label class="form-label">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </div>
<%- include("/Users/mikes/cluckr/views/partials/footer.ejs") %> 
