<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Chicken Logo Here</a>
      <form class="d-flex">
        <button class="btn btn-outline-success" type="button" >Cluck!</button>
      </form>
      <form action="/index" class="d-flex">
        <button class="btn btn-outline-success" type="submit">Sign_in</button>
      </form>
    </div>
</nav>