<%- include('../views/partials/header.ejs') %> 

<h1>TEST PAGE</h1>

<div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Sign in</label>
  </div>

<div class="container-fluid">
    <form class="d-flex">
      <button class="btn btn-outline-success" type="submit">Sign out</button>
    </form>
  </div>
<%- include('../views/partials/footer.ejs') %> 

